<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>HUST Vehicle Dashboard</title>

    <!-- Ladda CSS från static/assets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/index-B2JPClsI.css') }}"
    />
  </head>
  <body>
    <div id="app"></div>

    <!-- Ladda JS från static/assets -->
    <script
      type="module"
      src="{{ url_for('static', filename='assets/index-CK0iMtgh.js') }}"
    ></script>
  </body>
</html>
